
:root {
  --color-base: #FEFFFE;
  --color-black: #000814;
  --color-dark-grey: #222222;
  --color-yellow: #ffc300;
  --color-dark-blue: #001D3D;
  --color-light-blue: #086788;

  --blue-gradient: linear-gradient(0deg, #83b3c3, white, white);

  /* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Unbounded', cursive;
font-family: 'Yeseva One', cursive; */
}

body {
  /* background-color: var(--color-dark-grey); */
}

main {
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc(100vh - 240px);
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  height: 160px;
  background-color: var(--color-dark-grey);
  color: white;
  border-top: 1px solid #3b3b3b;
}

footer h4 {
  font-size: 1.2em;
}

footer a {
  color: var(--color-yellow);
  text-decoration: none;
}

footer #mc-embedded-subscribe {
  text-align: center;
  margin-top: .2em;
  padding: 5px;
  text-decoration: none;
  font-size: 1rem;
  background-color: var(--color-yellow);
  white-space: nowrap;
  border-radius: 10px;
}

footer .footer-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 20px;

}

.socials img {
  width: 40px;
}

.discord img {
  width: 120px;
  margin-top: 5px;
}

footer input {
  border-radius: 10px;
  margin-bottom: .4em;
  padding: 5px;
}

footer a:hover {
  color: white;
  text-decoration: underline;
}

footer .icons {
  display: flex;
  gap: 10px;
}

.icons .discord {
  display: block;
}

@media screen and (max-width: 750px) {
  footer {
    display: block;
    height: auto;
  }

  .yellow {
    font-size: 3rem;
  }
}