* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top {
  text-align: center;
  padding-bottom: 40px;
}

h1 {
  font-weight: 700;
}

.heading-desc {
  margin-bottom: 20px;
}

.yellow {
  color: var(--color-yellow);
  font-size: 4rem;
  text-shadow: -4px 3px 1px rgba(0,0,0,0.6);
  font-weight: 900;
}

.discord-link {
  color: white;
  background-color: var(--color-light-blue);
  padding: 10px;
  border-radius: 50px;
  text-decoration: none;
  position: relative;
  top: 10px;

}

.discord-link:hover {
  color: white;
  background-color: #064f67;
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 150px;
}

section {
  width: 100%;
  height: 500px;
  position: relative;
}

section .background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  filter: blur(1px) brightness(0.4) contrast(110%);
  z-index: -1;
}

.s1 .background {
  background-image: url("../assets/career.JPG");
  background-position: 5% 5%;
}

.s2 .background {
  background-image: url("../assets/code.png");
}

.s3 .background {
  background-image: url("../assets/community.png");
}

.s1,
.s2,
.s3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

section hr {
  max-width: 650px;
  margin: 15px auto;
}

.section-content {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  padding: 25px;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.8);
  width: 100%;
}

.s2 .section-content {
  color: black;
  background-color: rgba(255, 255, 255, 0.55);
}

section h2 {
  font-weight: bold;
  font-size: 2.2rem;
}

section p {
  line-height: 30px;
  font-size: 1.1rem;
}

section p,
section h2 {
  max-width: 600px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 700px) {
}
