main {
  padding: 40px;
  background-color: white;
}

.top-section h1 {
  font-size: 3em;
  text-align: center;
}

.content {
  min-height: calc(100vh - 60px);
  background-color: white;
}

.table-of-contents {
  width: 325px;
  height: 100%;
  position: sticky;
  top: 20px;
  display: flex;
  flex-direction: column;
}

.table-of-contents a {
  color: var(--color-black);
  text-decoration: none;
  transition: color 0.2s ease;
  display: block;
  padding: 10px;
}

.table-of-contents a:hover {
  background-color: lightgrey;
}

.content {
  display: flex;
  gap: 15px;
}

.sigs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.yellow {
  color: var(--color-yellow);
  font-size: 4rem;
  text-shadow: -4px 3px 1px rgba(0,0,0,0.6);
  font-weight: 900;
}

.card {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 20px;
  box-shadow: 4px 8px 8px rgba(0,0,0,0.1);
}

.card > div {
  flex: 50%;
}

.title-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  font-size: 1.5em;
}

.info {
  max-width: 400px;
  height: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}


@media only screen and (max-width: 900px) {
  .card {
    flex-direction: column;
    gap: 1em;
  }
}

@media only screen and (max-width: 600px) {
  .table-of-contents {
    display: none;
  }
}